gloo:
  kubeGateway:
    # Enable K8s Gateway integration
    enabled: true
  gatewayProxies:
    gatewayProxy:
      # ddoyle: Not able to set this to "true" (i.e. disable the default proxy deployment), as that gives an error with the Helm templates ...
      disabled: false
      healthyPanicThreshold: 0
      gatewaySettings:
        # Disable the default Edge Gateway CRs from being created
        enabled: false
        disableGeneratedGateways: true
      kind:
        deployment:
          replicas: 1
      service:
        httpPort: 80
        httpsFirst: true
        httpsPort: 443
        type: LoadBalancer
  gateway:
    persistProxySpec: true
    logLevel: info
    validation:
      enabled: true
      alwaysAcceptResources: false
      allowWarnings: false
      warnMissingTlsSecret: true
      failurePolicy: Ignore
      disableTransformationValidation: true
      # If you set this value to ‘Fail’, you cannot modify these core resources if the ‘gloo’ service is unavailable.
      kubeCoreFailurePolicy: Ignore
      webhook:
        skipDeleteValidationResources:
          - '*'
  gloo:
    logLevel: info
    # To simplify the demo, we disable any features that are affected by leader election
    # In Gloo Gateway, this is just status reporting, but still we do this to be safe
    disableLeaderElection: true
    deployment:
      replicas: 1
      customEnv:
        # The portal plugin is disabled by default, so must explicitly enable it
        - name: GG_PORTAL_PLUGIN
          value: "false"
      livenessProbeEnabled: true
      stats:
        enabled: "true"
        serviceMonitorEnabled: "true"
        podMonitorEnabled: "true"
  discovery:
    #ddoyle: Reproducer 
    logLevel: info
    enabled: true
    udsOptions:
      enabled: false
    fdsMode: WHITELIST
    fdsOptions:
      # We are not yet using this feature, and enabling it breaks gRPC proto detection
      graphqlEnabled: fals
  settings:
    # Expose the Control Plane Admin API (port 10010 on Gloo)
    devMode: true
    # writeNamespace: prd3677
    writeNamespace: gloo-system
    watchNamespaceSelectors:
      - matchExpressions:
          - key: gloo
            operator: In
            values:
              - enabled
    ratelimitServer:
      enableXRatelimitHeaders: true
    disableKubernetesDestinations: true
    invalidConfigPolicy:
      replaceInvalidRoutes: true
observability:
  enabled: false

prometheus:
  # setting to false will disable prometheus, removing it from Gloo's chart dependencies
  enabled: true

grafana:
  # setting to false will disable grafana, removing it from Gloo's chart dependencies
  defaultInstallationEnabled: true

# This demo does not deal with Gloo Federation, so we disable the components to simplify the installation
gloo-fed:
  enabled: false
  glooFedApiserver:
    enable: false

gateway-portal-web-server:
  # Enable the sub-chart for the Portal webserver
  enabled: false

global:
  glooRbac:
    namespaced: false
    # nameSuffix: gg-demo
  #ddoyle: Reproducer 
  glooStats:
    enabled: true
    routePrefixRewrite: /stats/prometheus
  extensions:
    # Rate-Limit Configuration
    rateLimit:
      enabled: true
      deployment:
        logLevel: debug

    # Ext-Auth Configuration
    extAuth:
      enabled: true
      deployment:
        logLevel: debug